.addContainer {
  width: 500px;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #393e46;
  border: 1px solid #00adb5;
  color: #fff;
  box-shadow: 0px 0px 20px #00adb5;
}
.addContainer button {
  background-color: #00adb5;
}
